<div class="ui-g-5"></div>
<div class="ui-g-2">
  <h1>Бюджеты</h1>
</div>
<div class="ui-g-5"></div>

<div class="ui-g-12">
  <p-button label="Добавить новый бюджет" (onClick)="createBudget()"></p-button>
</div>

<div class="ui-g-12">
  <p-table *ngIf="budgets.length !== 0" [value]="budgets">
    <ng-template pTemplate="header">
      <tr>
        <th>Имя бюджета</th>
        <th>Начальный капитал</th>
        <th>Текущий капитал</th>
        <th>Остаток</th>
        <th>Валюта</th>
        <th>Управление</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-budget>
      <tr style="height: 50px">
        <td>{{budget.name}}</td>
        <td>{{budget.initialAmount}}</td>
        <td>{{budget.currentAmount}}</td>
        <td>
          <p-progressBar [value]="roundRelAmount(budget.relAmount)"></p-progressBar>
        </td>
        <td>{{budget.currency}}</td>
        <td>
          <div style="display: flex; justify-content: center">
            <p-button class="control_button" icon="pi pi-pencil" (onClick)="edit(budget.id)"></p-button>
            <p-button class="control_button" icon="pi pi-trash" (onClick)="delete(budget.id)"></p-button>
            <p-button class="control_button" icon="pi pi-money-bill" (onClick)="expend(budget.id)"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog #cd header="Подтверждение" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton label="Нет" (click)="cd.reject()"></button>
    <button type="button" pButton label="Да" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
