<div class="ui-g-5"></div>
<div class="ui-g-2">
  <h1>Цели</h1>
</div>
<div class="ui-g-5"></div>

<div class="ui-g-12">
  <p-button label="Добавить новую цель" (onClick)="createGoal()"></p-button>
</div>

<div class="ui-g-12">
  <p-table *ngIf="goals.length !== 0" [value]="goals">
    <ng-template pTemplate="header">
      <tr>
        <th>Имя цели</th>
        <th>Сумма цели</th>
        <th>Кол-во отложенных денег</th>
        <th>Прогресс</th>
        <th>Валюта</th>
        <th>Управление</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-goal>
      <tr style="height: 50px">
        <td>{{goal.name}}</td>
        <td>{{goal.initialAmount}}</td>
        <td>{{goal.currentAmount}}</td>
        <td>
          <p-progressBar [value]="roundRelAmount(goal.currentAmount / goal.initialAmount)"></p-progressBar>
        </td>
        <td>{{goal.currency}}</td>
        <td>
          <div style="display: flex; justify-content: center">
            <p-button class="control_button" icon="pi pi-pencil" (onClick)="edit(goal.id)"></p-button>
            <p-button class="control_button" icon="pi pi-trash" [disabled]="!goal.isDeletable" (onClick)="delete(goal.id)"></p-button>
            <p-button class="control_button" icon="pi pi-money-bill" (onClick)="addMoney(goal.id)"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog header="Подтверждение" icon="pi pi-exclamation-triangle"></p-confirmDialog>
